{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

{% comment %} 
    <a href=""> <button class="btn btn-primary" type="submit">
        Daily Report
    </button> </a>
    
    <a href=""> <button class="btn btn-primary" type="submit">
        Monthly Report
    </button> </a><br><br> {% endcomment %}

    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ builty_count }}</span></div>
                                <div class="stat-heading">Builty</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ truck_count }}</span></div>
                                <div class="stat-heading">Truck</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ user_count }}</span></div>
                                <div class="stat-heading">User</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Master list </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Builty No</th>
                                        <th>Date</th>
                                        <th>Truck No</th>
                                        <th>Owner</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Taluka</th>
                                        <th>District</th>
                                        <th>Consignor</th>
                                        <th>Consigne</th>
                                        <th>Account</th>
                                        <th>Article</th>
                                        <th>Freight</th>
                                        <th>Advance</th>
                                        <th>Balance</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data %}
                                    {% for i in data %}

                                    {% if i.deleted == True %}

                                    <tr style="background: #ffb2bc;">

                                        <td class="serial">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% elif i.has_request.all.0 %}

                                    <tr style="background: #9fb4ff;">

                                        <td class="serial">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% else %}

                                    <tr>

                                        <td class="serial" style="">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% endif%}


                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Order Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}