{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block head %}

<style>

       
    .logged-in {
        color: orange;
        font-size: 21px;
      }
      


    .select2-container--open .select2-dropdown {
        left: 10px;
        top: -7px;
    }


    .select2-search--dropdown{
    justify-items: center;
    justify-content: center;
    display: flex;
    }


    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 52px;
    }

    .select2-selection--single{
        height: 50px !important;
    }
    .select2-search__field{
        margin: 1px;
        margin-top: 5px;
    }

      select {
        border: 1px solid gray !important;
        border-radius: 6px !important;
        position: relative !important;
        width: 231px !important;
        margin: 10px !important;
        line-height: 6ex !important;
        padding-left: 14px !important;
        height: 46px !important;
      }

      
</style>


{% endblock head %}

{% block content %}

{% comment %} 
    <a href=""> <button class="btn btn-primary" type="submit">
        Daily Report
    </button> </a>
    
    <a href=""> <button class="btn btn-primary" type="submit">
        Monthly Report
    </button> </a><br><br> {% endcomment %}

    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ builty_count }}</span></div>
                                <div class="stat-heading">Builty</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ truck_count }}</span></div>
                                <div class="stat-heading">Truck</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ user_count }}</span></div>
                                <div class="stat-heading">User</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    


    
<p>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="width: fit-content;">
      

        <form method="get" action="" style="padding:15px;">

            {% csrf_token %}

            <div class="form-group" style="display: flex;
            gap: 14px;">

            <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty No</label>
                    {{ builty_filter.form.builty_no }}
                        
                    
            <label for="name" class="control-label mb-1" style="margin-left : 0px;">Station From</label>
                    {{ builty_filter.form.station_from }}
                        
                    
                <label for="name" class="control-label mb-1" style="margin-left : 0px;">Truck No</label>
                {{ builty_filter.form.truck_details }}
             
                
                                            
                    
                </div>


                <div class-"form-group" style="display: flex;gap: 14px;">

                  <label for="name" class="control-label mb-1" style="margin-left : 0px;">Truck Owner</label>
                  {{ builty_filter.form.truck_owner }}
                         
                  <label for="name" class="control-label mb-1">Consignor</label>
                  {{ builty_filter.form.consignor }}
              
                  <label for="name" class="control-label mb-1" style="margin-left : 0px;">User</label>
                  {{ builty_filter.form.user }}
               
                
                </div><br>
            
                    <div class-"form-group" style="display: flex;
                    gap: 14px;">
                                        
                    <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty Date From</label>
                    {{ builty_filter.form.DC_date_start__date }}
                


                <label for="name" class="control-label mb-1">Builty Date To</label>
                {{ builty_filter.form.DC_date_end__date }}





            </div><br>
            
                    <div class-"form-group" style="display: flex;
                    gap: 14px;">
                                        
                    <label for="name" class="control-label mb-1" style="margin-left : 0px;">Challan Date From</label>
                    {{ builty_filter.form.challan_date_start__date }}
                


                <label for="name" class="control-label mb-1">Challan Date To</label>
                {{ builty_filter.form.challan_date_end__date }}





            </div>

            <br>

            <a href="{% url 'dashboard' %}"><button class="btn btn-primary" type="button" > Reset </button></a>

            <button class="btn btn-primary" type="submit" > Submit </button>

        </form>
    </div>
  </div>
  



    <div class="clearfix"></div>


    {% if data %}

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Master list </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Builty No</th>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Truck No</th>
                                        <th>Owner</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Taluka</th>
                                        <th>District</th>
                                        <th>Consignor</th>
                                        <th>Consigne</th>
                                        <th>Account</th>
                                        <th>Article</th>
                                        <th>Freight</th>
                                        <th>Advance</th>
                                        <th>Balance</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data %}
                                    {% for i in data %}

                                    {% if i.deleted == True %}

                                    <tr style="background: #ffb2bc;">

                                        <td class="serial">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.user }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% elif i.has_request.all.0 %}

                                    <tr style="background: #c1cfff;">

                                        <td class="serial">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.user }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% else %}

                                    <tr>

                                        <td class="serial" style="">{{ forloop.counter }}</td>
                              
                                        <td>{{ i.builty_no }}</td>
                                        <td>{{ i.user }}</td>
                                        <td>{{ i.DC_date }}</td>
                                        <td>{{ i.truck_details }}</td>
                                        <td>{{ i.truck_owner }}</td>
                                        <td>{{ i.station_from }}</td>
                                        <td>{{ i.station_to }}</td>
                                        <td>{{ i.taluka }}</td>
                                        <td>{{ i.district }}</td>
                                        <td>{{ i.consignor }}</td>
                                        <td>{{ i.consignee }}</td>
                                        <td>{{ i.onaccount }}</td>
                                        <td>{{ i.article }}</td>
                                        <td>{{ i.freight }}</td>
                                        <td>{{ i.less_advance }}</td>
                                        <td>{{ i.balance }}</td>
                                      
                                        </td>
                                    </tr>

                                    {% endif%}


                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Order Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>


                            <footer class="site-footer">
                                <div class="footer-inner bg-white" style="float: right;">
                                    <div class="row" style="float: right;">
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total MT : {{ total_mt }} RS</p>
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total Freight : {{ total_freight }} </p>
                                        <p style="font-weight: 700;
                                        color: black;margin-left:30px;border : 1px solid grey;padding : 10px;">  Advance : {{ total_advance }} RS</p><br>
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;">  Balance : {{ total_balance }} RS</p>
                                      </div>
          
                                      <hr style="margin-top: 4rem;">
          
                                      <div class="row" style="float: right;">
          
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total Freight : {{ total1_mt }} RS</p>
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total Freight : {{ total1_freight }} RS</p>
                                        <p style="font-weight: 700;
                                        color: black;margin-left:30px;border : 1px solid grey;padding : 10px;">  Advance : {{ total1_advance }} RS</p><br>
                                        <p style="font-weight: 700;
                                        color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;">  Balance : {{ total1_balance }} RS</p>
                                      
                                      </div>
                                    <div class="row" style="float: left; width : 100%">
          
          
                                    <button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" class="btn-info" onclick="mass_edit_request();" > Submit </button>
                                
                                  </div>
                                  </div>
                            </footer>

                            {% if data.has_other_pages %}
                                <nav>
                                    <ul class="pagination justify-content-center">
                                    {% if data.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&laquo;</span>
                                        </li>
                                    {% endif %}

                                    {% for p in data.paginator.page_range %}
                                        {% if data.number == p %}
                                        <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if data.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ data.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&raquo;</span>
                                        </li>
                                    {% endif %}
                                    {% endif %}
      
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->

    {% endif %}


    
{% endblock content %}

{% block js %}

<script>

$('.sele').select2();



$("#consignor").select2({
    multiple: true,
  });
    
  
  $("#truck_owner").select2({
    multiple: true,
  });
  
    


  
</script>



{% endblock js %}