{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<p>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">

       
        <form method="get" action="" style="padding:15px;">

            {% csrf_token %}

            <div class="form-group" style="display: flex;
            gap: 14px;">
                                            
                <label for="name" class="control-label mb-1">Builty No</label>
                {{ request_edit_filter.form.builty_no }}
            
                
                <label for="name" class="control-label mb-1 la">Status</label>
                {{ request_edit_filter.form.status }}



                                            
                  
                </div>
                        <br>
           
            <a href="{% url 'admin_request_list' %}"><button class="btn btn-primary" type="button" > Reset </button></a>
            
            <button class="btn btn-primary" type="submit" > Search </button>

        </form>
    </div>
  </div>
  
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Admin Request List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Builty Id</th>
                                <th>User</th>
                                <th>Status</th>
                               
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                              <td class="serial"><input type="checkbox" value="{{ i.id }}" /> {{ forloop.counter }}</td>

                                <td>{{ i.builty.builty_no }}</td>
                                <td>{{ i.user }}</td>
                                <td>{{ i.status }}</td>
                                

                                <td>  
                                    
                                    {% if i.status == False %}

                                   <a href="{% url 'approve_edit' i.id %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">Approve</span>
                                    </button>  </a>

                                    {% endif %}


                                    
                                    <a href="{% url 'update_builty' i.builty.id %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>
                                   
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <footer class="site-footer">
                      <div class="footer-inner bg-white">
                         
                          <button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" class="btn-info" onclick="mass_approve_request();" > Approve </button>
                      </div>
                  </footer>
     <br>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if data.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
                      </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                      </li>
                    {% endif %}
            
                    {% if data.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{ data.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}
            
                    {% for i in data.paginator.page_range %}
                        {% if data.number == i %}
                            <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        {% elif i > data.number|add:'-5' and i < data.number|add:'5' %}
                             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
            
                    {% if data.paginator.num_pages > data.number|add:'4' %}
                       <li class="page-item"><a class="page-link" href="?page={{ data.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}
            
                    {% if data.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                      </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>




                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>



<script>

  function mass_approve_request(){

    request_id_arr = []

    $("input:checkbox[name=type]:checked").each(function(){
      request_id_arr.push($(this).val());
    });


    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

    for (var i = 0; i < checkboxes.length; i++) {
      request_id_arr.push(checkboxes[i].value)
    }

    alert(request_id_arr)

    $.ajax({                       // initialize an AJAX request
      type: "POST",
      url: '{% url "mass_approve_request" %}',
      data: {
          'request_id': request_id_arr,       // add the country id to the POST parameters
          'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (data) {   // `data` is from `get_topics_ajax` view function

        location.reload()
          
      }

      });

}
   

    
</script>



{% endblock content %}