


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Generate Bill</title>

<style>
  @page {
      size: legal;
      margin: 1cm 0.7cm;
  }



  body {
    color: black;
  }

</style>


</head>

<body style="padding-top:-1px;">

<table width="100%" style="border-bottom:1.5px solid black;border-top:1.5px solid black;border-left:1.5px solid black;border-right:1.5px solid black;margin:0.3cm;" height="30%" border="0" cellspacing="0"  cellpadding="0">
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="border-bottom:1.5px solid black;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">Sahani Goods Transport </td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;">TRANSPORT CONTRACTOR AND COMMISSION AGENT </td>
          </tr>

            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;"> Tilak Putala, Khamgaon  </td>
          </tr>
          
          </table></td>
      </tr>
    </table></td>
    
    <td width="51%" valign="top" style="border-bottom:1.5px solid black;"><table width="100%" style="margin-left:0.3cm;" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;" align="left"></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">&nbsp;</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Builty No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.builty_no}}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.DC_date|date:'d-m-Y'}}</td>
      </tr>
      <tr>
      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Truck No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.truck_details }}</td>
      </tr>
      
    

    </table></td>
  </tr>
  

  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="35%" height="32" align="left"><br> From &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_from }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_to }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Taluka &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.taluka }}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;{{ data.consignor }}</td>

      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.consignee }} &nbsp; - &nbsp; {{ data.delivery_no}} </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Ac &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.onaccount }}</td>
      </tr>
    </table></td>
  </tr>
 
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" height="32" align="center"> No of article</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="50%" height="32" align="center">Description</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" align="center">Quantity</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="30%" align="center">Freight</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center">{{ data.bags }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.article }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.mt|floatformat:2 }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">  Advance : {{ data.less_advance }} </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center"> <span style="border-right:1.5px solid black"> (BAGS) </span></td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:10px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> Request to part : Do not Phone for Diversion </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> (M.T) </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center">  Balance Payable at Khamgaon </td>
      </tr>
    </table>
    <table>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; text-align: justify;" width="59.1%" height="32"> <p style="font-weight:bold"> TERMS & CONDITIONS: </p> 1) I Have received the above mentioned goods in pound condition 2) In case the thick goes out of order to route or the goods have to be urshiped ahal bear the expenses will be responsible for tha delivery of the goods to the proper ower 3) in case any shortage is Sund in the goods or the truck inets with an accident the truck owner wid make good the loss 4) in case goods are not delivered to proper person or not delivered at the correct addres anal be rasponable for the same. 5) At the time of Ineding the muck driver chucked and verified the tems if any shortage is found owner wit be responsible 6) After delivery as per enclosed inter shall bent the acknowledgment at your destination office </td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;" align="center" width="13.6%">Reciever's <br> Stamp & Sign</td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;"align="center">  For, Sahani Goods And Transport </td>
        </tr>
      </table></td>
  </tr>
  
</table>

<br>

<tr>
  <td width="100%">
  <hr>
  
    </td>
</tr>


<br>

<table width="100%" style="border-bottom:1.5px solid black;border-top:1.5px solid black;border-left:1.5px solid black;border-right:1.5px solid black;margin:0.3cm;" height="30%" border="0" cellspacing="0"  cellpadding="0">
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="border-bottom:1.5px solid black;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">Sahani Goods Transport </td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;">TRANSPORT CONTRACTOR AND COMMISSION AGENT </td>
          </tr>

            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;"> Tilak Putala, Khamgaon  </td>
          </tr>
          
          </table></td>
      </tr>
    </table></td>
    
    <td width="51%" valign="top" style="border-bottom:1.5px solid black;"><table width="100%" style="margin-left:0.3cm;" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;" align="left"></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">&nbsp;</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Builty No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.builty_no}}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.DC_date|date:'d-m-Y'}}</td>
      </tr>
      <tr>
      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Truck No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.truck_details }}</td>
      </tr>
      
    

    </table></td>
  </tr>
  

  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="35%" height="32" align="left"><br> From &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_from }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_to }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Taluka &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.taluka }}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;{{ data.consignor }}</td>

      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.consignee }}  &nbsp; - &nbsp; {{ data.delivery_no}}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Ac &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.onaccount }}</td>
      </tr>
    </table></td>
  </tr>
 
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" height="32" align="center"> No of article</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="50%" height="32" align="center">Description</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" align="center">Quantity</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="30%" align="center">Freight</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center">{{ data.bags }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.article }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.mt|floatformat:2 }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">  Advance : {{ data.less_advance }} </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center"> <span style="border-right:1.5px solid black"> (BAGS) </span></td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:10px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> Request to part : Do not Phone for Diversion </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> (M.T) </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center">  Balance Payable at Khamgaon </td>
      </tr>
    </table>
    <table>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; text-align: justify;" width="59.1%" height="32"> <p style="font-weight:bold"> TERMS & CONDITIONS: </p> 1) I Have received the above mentioned goods in pound condition 2) In case the thick goes out of order to route or the goods have to be urshiped ahal bear the expenses will be responsible for tha delivery of the goods to the proper ower 3) in case any shortage is Sund in the goods or the truck inets with an accident the truck owner wid make good the loss 4) in case goods are not delivered to proper person or not delivered at the correct addres anal be rasponable for the same. 5) At the time of Ineding the muck driver chucked and verified the tems if any shortage is found owner wit be responsible 6) After delivery as per enclosed inter shall bent the acknowledgment at your destination office </td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;" align="center" width="13.6%">Reciever's <br> Stamp & Sign</td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;"align="center">  For, Sahani Goods And Transport </td>
        </tr>
      </table></td>
  </tr>
  
</table>



<br>



<tr>
  <td width="100%">
  <hr>
  
    </td>
</tr>

<br>


<table width="100%" style="border-bottom:1.5px solid black;border-top:1.5px solid black;border-left:1.5px solid black;border-right:1.5px solid black;margin:0.3cm;" height="30%" border="0" cellspacing="0"  cellpadding="0">
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="border-bottom:1.5px solid black;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">Sahani Goods Transport </td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;">TRANSPORT CONTRACTOR AND COMMISSION AGENT </td>
          </tr>

            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;"> Tilak Putala, Khamgaon  </td>
          </tr>
          
          </table></td>
      </tr>
    </table></td>
    
    <td width="51%" valign="top" style="border-bottom:1.5px solid black;"><table width="100%" style="margin-left:0.3cm;" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;" align="left"></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">&nbsp;</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Builty No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.builty_no}}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.DC_date|date:'d-m-Y'}}</td>
      </tr>
      <tr>
      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px;border-left:1.5px solid black;"  align="left">Truck No &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{data.truck_details }}</td>
      </tr>
      
    

    </table></td>
  </tr>
  

  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="35%" height="32" align="left"><br> From &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_from }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.station_to }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Taluka &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.taluka }}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;{{ data.consignor }}</td>

      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Consignee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.consignee }}  &nbsp; - &nbsp; {{ data.delivery_no}}</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px;" width="100%" height="32" align="left">Ac &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.onaccount }}</td>
      </tr>
    </table></td>
  </tr>
 
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" height="32" align="center"> No of article</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="50%" height="32" align="center">Description</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="15%" align="center">Quantity</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:12px; border-top:1.5px solid black; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" width="30%" align="center">Freight</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center">{{ data.bags }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.article }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">{{ data.mt|floatformat:2 }}</td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:12px; border-right:1.5px solid black; padding-top:3px;" align="center">  Advance : {{ data.less_advance }} </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" height="32" align="center"> <span style="border-right:1.5px solid black"> (BAGS) </span></td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:10px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> Request to part : Do not Phone for Diversion </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center"> (M.T) </td>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px; border-bottom:1.5px solid black; border-right:1.5px solid black; padding-top:3px;" align="center">  Balance Payable at Khamgaon </td>
      </tr>
    </table>
    <table>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; border-bottom:1.5px solid black; border-left:1.5px solid black; border-right:1.5px solid black; text-align: justify;" width="59.1%" height="32"> <p style="font-weight:bold"> TERMS & CONDITIONS: </p> 1) I Have received the above mentioned goods in pound condition 2) In case the thick goes out of order to route or the goods have to be urshiped ahal bear the expenses will be responsible for tha delivery of the goods to the proper ower 3) in case any shortage is Sund in the goods or the truck inets with an accident the truck owner wid make good the loss 4) in case goods are not delivered to proper person or not delivered at the correct addres anal be rasponable for the same. 5) At the time of Ineding the muck driver chucked and verified the tems if any shortage is found owner wit be responsible 6) After delivery as per enclosed inter shall bent the acknowledgment at your destination office </td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;" align="center" width="13.6%">Reciever's <br> Stamp & Sign</td>
          <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:10px; vertical-align:bottom; border-bottom:1.5px solid black; border-right:1.5px solid black;"align="center">  For, Sahani Goods And Transport </td>
        </tr>
      </table></td>
  </tr>
  
</table>

</body>
</html>