


<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    

<style type="text/css">

  @media print {
    
    
  @page {
    size: 38cm 30cm /* . Random dot? */;
   size: landscape;

  }

}
  * {
      margin: 0;
      padding: 0;
      text-indent: 0;
  }
  
  h1 {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 10pt;
  }
  
  p {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 9.5pt;
      margin: 0pt;
  }
  
  .s1 {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 9pt;
  }
  
  h2 {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 9.5pt;
  }
  
  .s2 {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 9.5pt;
  }
  
  .s3 {
      color: black;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 9.5pt;
  }
  
  table,
  tbody {
      vertical-align: top;
      overflow: visible;
  }

</style>


</head>

<body>
 
  <table id="main">
    <tr>
      <td>

        <table id="main2" style="margin-left :30px; margin-right :30px; margin-top:70px;">
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
            <td>
              <h1 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: left;margin-top:30px;">Sahani Goods and Transport</h1>
              <p style="padding-top: 3pt;margin-right: 50px;margin-top: -250px;text-indent: 55pt;line-height: 134%;text-align: right;">1-4</p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="padding-top: 3pt;margin-right: 50px;text-indent: 55pt;line-height: 134%;text-align: right;">March 29, 2023 </p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="padding-top: 3pt;margin-right: 50px;text-indent: 55pt;line-height: 134%;text-align: right;"> MH 30 ss hssss</p>
            </td>
          </tr>
        </table>
      
        <table>
          <tr>
            <td>
              <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">Akola MIDC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Akola &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Akola </h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">Ultra tech </h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">abcd</h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">abcd </h2>
            </td>
          </tr>
        </table>
        <table style="border-collapse:collapse;margin-left:6.34646pt" cellspacing="0">
          
          <tr style="height:44pt">
            <td style="width:148pt;border-top-style:solid;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 45pt;padding-right: 44pt;text-indent: 0pt;text-align: center;">34834.0</p>
           </td>
            <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">Ceent</p>
            </td>
            <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">1741.7</p>
            </td>
            <td style="width:131pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">Advance : 1000.0</p>
              <p class="s3" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">Balance : -1000.0</p>
            </td>
          </tr>
        </table>
       
      </td>
      <td>

        <table id="main2" style="margin-left :30px; margin-right :30px; margin-top:70px;">
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
        </tr>
          <tr>
            <td>
              <h1 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Sahani Goods and Transport</h1>
              <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;">1-4</p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;">March 29, 2023 </p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;"> MH 30 ss hssss</p>
            </td>
          </tr>
        </table>
      
        <table>
          <tr>
            <td>
              <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">Akola MIDC Akola Akola </h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">Ultra tech </h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">abcd</h2>
            </td>
          </tr>
            <tr><td>
              <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">abcd </h2>
            </td>
          </tr>
        </table>
        <table style="border-collapse:collapse;margin-left:6.34646pt" cellspacing="0">
          <tr>
          </tr>
        </tr>
      </tr>
          <tr style="height:44pt">
            <td style="width:148pt;border-top-style:solid;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 45pt;padding-right: 44pt;text-indent: 0pt;text-align: center;">34834.0</p>
           </td>
            <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">Ceent</p>
            </td>
            <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">1741.7</p>
            </td>
            <td style="width:131pt;border-top-style:solid;border-top-color:#333333;">
              <p style="text-indent: 0pt;text-align: left;"><br/></p>
              <p class="s3" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">Advance : 1000.0</p>
              <p class="s3" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">Balance : -1000.0</p>
            </td>
          </tr>
        </table>
       
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>

      <tr>
        <td>
  
          <table id="main2" style="margin-left :30px; margin-right :30px; margin-top:70px;">
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
              <td>
                <h1 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: left;margin-top:30px;">Sahani Goods and Transport</h1>
                <p style="padding-top: 3pt;margin-right: 50px;margin-top: -250px;text-indent: 55pt;line-height: 134%;text-align: right;">1-4</p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="padding-top: 3pt;margin-right: 50px;text-indent: 55pt;line-height: 134%;text-align: right;">March 29, 2023 </p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="padding-top: 3pt;margin-right: 50px;text-indent: 55pt;line-height: 134%;text-align: right;"> MH 30 ss hssss</p>
              </td>
            </tr>
          </table>
        
          <table>
            <tr>
              <td>
                <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">Akola MIDC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Akola &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Akola </h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">Ultra tech </h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">abcd</h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 100px;text-indent: 0pt;;text-align: left;">abcd </h2>
              </td>
            </tr>
          </table>
          <table style="border-collapse:collapse;margin-left:6.34646pt" cellspacing="0">
            
            <tr style="height:44pt">
              <td style="width:148pt;border-top-style:solid;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 45pt;padding-right: 44pt;text-indent: 0pt;text-align: center;">34834.0</p>
             </td>
              <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">Ceent</p>
              </td>
              <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">1741.7</p>
              </td>
              <td style="width:131pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">Advance : 1000.0</p>
                <p class="s3" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">Balance : -1000.0</p>
              </td>
            </tr>
          </table>
         
        </td>
        <td>
  
          <table id="main2" style="margin-left :30px; margin-right :30px; margin-top:70px;">
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
              <td>
                <h1 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Sahani Goods and Transport</h1>
                <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;">1-4</p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;">March 29, 2023 </p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="padding-top: 7pt;padding-left: 6pt;text-indent: 55pt;line-height: 134%;text-align: right;"> MH 30 ss hssss</p>
              </td>
            </tr>
          </table>
        
          <table>
            <tr>
              <td>
                <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">Akola MIDC Akola Akola </h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">Ultra tech </h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">abcd</h2>
              </td>
            </tr>
              <tr><td>
                <h2 style="padding-left: 6pt;text-indent: 0pt;;text-align: left;">abcd </h2>
              </td>
            </tr>
          </table>
          <table style="border-collapse:collapse;margin-left:6.34646pt" cellspacing="0">
            <tr>
            </tr>
          </tr>
        </tr>
            <tr style="height:44pt">
              <td style="width:148pt;border-top-style:solid;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 45pt;padding-right: 44pt;text-indent: 0pt;text-align: center;">34834.0</p>
             </td>
              <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">Ceent</p>
              </td>
              <td style="width:130pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 38pt;padding-right: 37pt;text-indent: 0pt;text-align: center;">1741.7</p>
              </td>
              <td style="width:131pt;border-top-style:solid;border-top-color:#333333;">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">Advance : 1000.0</p>
                <p class="s3" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">Balance : -1000.0</p>
              </td>
            </tr>
          </table>
         
        </td>
  





      
    </tr>
    
  </table>
</body>

</html>
 
</body>
</html>