{% extends 'base/base.html' %}



{% block title %}Submit{% endblock title %}

{% block head %}


<!-- Select2 CSS --> 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 

<!-- jQuery --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<!-- Select2 JS --> 
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

<style>


    table {
        border-collapse: separate;
        table-layout: fixed;
        width: 100%;
    }

    .text{
        margin : 0px 14px;
    }

    .form-control{
        height : calc(1.9rem + 2px) !important;
    }

    .select2 {
        width:100% !important;
    }

    .select2-selection{
        height: calc(1.9rem + 2px) !important;
    }

    .select2-selection__rendered{
        line-height : 2.3 !important;
    }

    .cus{
        width:200px !important;
    }

    .se{
        background-color : rgba(239, 239, 239, 0.3) !important;
    }




    fieldset {
        display: block;
        margin: 20px auto;
        padding: 15px;
        border: 0;
        border: 1px solid black;
        margin-top : 0px;
        margin-bottom : 7px;
        width : fit-content;
      }
      legend {
        display: table;
        min-width: 0px;
        max-width: 70%;
        position: relative;
        margin: auto;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 14px;
        padding-top: 0px !important;
        text-align: center;
      }

      .card{
        font-size: 14px !important;
        font-weight: bold !important;
      }

      .card-body{
        padding-top: 3px !important;

      }

      hr{
        margin : 0px;
      }

      .content{
        padding-top: 8px !important;
      }


      .input-wrapper {
        position: relative;
      }
      
      input {
        border: 1px solid gray;
        border-radius: 6px;
        position: relative;
        width: 231px;
        margin: 10px;
        line-height: 6ex;
        padding-left: 14px;
        height: 46px;
      }

      select {
        border: 1px solid gray !important;
        border-radius: 6px !important;
        position: relative !important;
        width: 231px !important;
        margin: 10px !important;
        line-height: 6ex !important;
        padding-left: 14px !important;
        height: 46px !important;
      }
      
      label {
        position: absolute;
        top: 0.2ex;
        z-index: 1;
        left: 2em;
        background-color: white;
        padding: 0 5px;
       
      }


</style>


{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}

<div>

    {{ form_error }}
    

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding-top:0px;">
           
            <div class="card-body" style="padding-top:0px;">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form id="make_readonly" action="#" method="post" >
                            {% csrf_token %}

                            <div class="col-12">
                            <h3 style="text-align: center;">  Update Acknowledgement</h3>

                            </div>

                            <br><br>

                            <div class="col-12" style="display:flex;">

                                <div class="col-6" style="border-right : 1px solid black">
                                
                                <table style="width:100%;">
                            
                                    <tr>
                                        <td>
                                            
                                            <div class="input-wrapper">
                                                <label for="first">Consignor</label>
                                                {{ form.consignor }}
                                              </div>
                                            
                                        </td>
                                        
                                        <td>
                                            
                                            <div class="input-wrapper">
                                                <label for="first">Article</label>
                                                {{ form.article }}
                                              </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">Builty No</label>
                                                    {{ form.builty_no }}
                                                  </div>
                                            

                                        </td>
                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">Date</label>
                                                    {{ form.DC_date }}

                                                  </div>
                                            
                                        </td>

                                    </tr>
                        
                                
                                    <tr>

                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">Truck No</label>
                                                    {{ form.truck_details }}
                                                  </div>
                                        </td>

                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">Truck Owner</label>
                                                    {{ form.truck_owner }}
                                                  </div>
                                            
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">From Station</label>
                                                    {{ form.station_from }}
                                                  </div>
                                            
                                        </td>
                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">To Desti</label>
                                                    {{ form.station_to }}
                                                  </div>
                                            
                                        </td>


                                    </tr>

                                    <tr>

                                        <td>
                                            
                                            <div class="input-wrapper">
                                                <label for="first">Taluka</label>
                                                {{ form.taluka }}
                                              </div>
                                        
                                        </td>
                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">District</label>
                                                    {{ form.district }}
                                                  </div>
                                            
                                        </td>


                                    </tr>
                                    
                                    

                                    <tr>
                                        <td>
                                            
                                                <div class="input-wrapper">
                                                    <label for="first">Consignee</label>
                                                    {{ form.consignee }}
                                                  </div>
                                            
                                        </td>

                                        <td>
                                            
                                            <div class="input-wrapper">
                                                <label for="first">Onaccount</label>
                                                {{ form.onaccount }}
                                              </div>
                                        
                                    </td>
                                    </tr>
                                    <tr>

                                        <td>

                                            <div class="input-wrapper">
                                                <input type="text" value="{{ form2.challan_number.value }}" name="challan_number"  class="" required="">
                                              </div>

                                        </td>

                                        <td>
                                            
                                            <div class="input-wrapper">
                                                <label for="first">Challan Date</label>
                                                {{ form2.challan_date }}

                                              </div>
                                        
                                    </td>
                                    </tr>

                                  
                                    
                                </table>

                            </div>

                            <div class="col-6">

                               

                                    <div class="col-6">

                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 4px;">

                                            <div class="input-wrapper">
                                                <label for="first">Qty (bags)</label>
                                                {{ form.bags }}
                                              </div>
                                                
                                              <div class="input-wrapper">
                                                <label for="first">MT</label>
                                                {{ form.mt }}
                                              </div>

                                        </div>
                                      
                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 4px;">

                                             
                                            <div class="input-wrapper">
                                                <label for="first">Delivery No</label>
                                                {{ form.delivery_no }}
                                              </div>
                                        
                                            <div class="input-wrapper">
                                                <label for="first">Note</label>
                                                {{ form.note }}
                                              </div>
                                        
                                        </div>
                                        
                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 0px;margin-top: 14px;">

                                             
                                            <div class="input-wrapper">
                                                <label for="first">EX/For</label>
                                                {{ form.ex_for }}
                                              </div>
                                        
                                        
                                             
                                            <div class="input-wrapper">
                                                <label for="first">Mode</label>
                                                {{ form.mode }}
                                              </div>
                                        
                                        </div>
                                      
                                

                                        <div>

                                            <fieldset><legend>Truck Driver Advance</legend>


                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
            
                                                    

                                                      <div class="input-wrapper">
                                                        <label for="first">Rate</label>
                                                        {{ form.rate }}
                                                      </div>

                                                    <div class="input-wrapper">
                                                        <label for="first">Freight</label>
                                                        {{ form.freight }}
                                                      </div>
                                                
                                                </div>

                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
                
                                                    <div class="input-wrapper">
                                                        <label for="first"> Less Advance</label>
                                                        {{ form.less_advance }}
                                                      </div>

                                                    <div class="input-wrapper">
                                                        <label for="first"> Less TDS</label>
                                                        {{ form.less_tds }}
                                                      </div>
                                                </div>

                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
        
                                                    <div class="input-wrapper">
                                                        <label for="first">Balance</label>
                                                        {{ form.balance }}
                                                      </div>
                                                                
                                                    <div class="input-wrapper">
                                                        <label for="first">Diesel</label>
                                                        {{ form.diesel }}
                                                      </div>
                                                </div>
                                        </fieldset>


                                        </div>
                                    </div>

                                </div>
                            </div>
<br>

{% comment %}                             

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Bags</label>
                                {{ form.bags }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Delivery No</label>
                                {{ form.delivery_no }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">ex/for</label>
                                {{ form.ex_for }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Mode</label>
                                {{ form.mode }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Note</label>
                                {{ form.note }}
                            </div>
 {% endcomment %}

                            

                            <div style="display: flex;
                            gap: 75px;justify-content: center;">
                                
                                <button id="payment-button" type="submit"  style="height: 44px;
                                width: 300px;
                                background: #05386b;
                                border: none;
                                color: white;
                                font-weight: bold;
                                font-size: 14px;">
                                    <span id="payment-button-amount">Update Acknowledgement</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div> <br><br>
                <hr>
                    <p style="font-size: 1.2rem;
                    font-weight: 600;"> Challan Update History </p>
                <hr> <br>

                {% for i in history_data %}

                    <p style="color:black;"> Challan Number Before:- {{ i.challan_number_before}} &nbsp; &nbsp; Challan Date Before:- {{ i.challan_date_before}} &nbsp; &nbsp; Update Date :- {{ i.update_date }}</p>

                {% endfor %}


            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

{% endblock content %}


{% block js %}

<script>
    


    $("#truck_owner").css("pointer-events","none");
    $("#station_from").css("pointer-events","none");
    $("#station_to").css("pointer-events","none");
    $("#taluka").css("pointer-events","none");
    $("#truck_owner").css("pointer-events","none");
    $("#consignor").css("pointer-events","none");
    $("#article").css("pointer-events","none");
    $("#ex_for").css("pointer-events","none");
    $("#truck_details").css("pointer-events","none");
    $("#mode").css("pointer-events","none");
    $("#onaccount").css("pointer-events","none");


    $('#builty_no').prop("readonly", true);
    $('#truck_details').prop("readonly", true);
    $('#truck_owner').prop("readonly", true);
    $('#consignor').prop("readonly", true);
    $('#station_from').prop("readonly", true);
    $('#station_to').prop("readonly", true);
    $('#taluka').prop("readonly", true);
    $('#district').prop("readonly", true);
    $('#consignee').prop("readonly", true);
    $('#onaccount').prop("readonly", true);
    $('#article').prop("readonly", true);
    $('#bags').prop("readonly", true);
    $('#rate').prop("readonly", true);
    $('#delivery_no').prop("readonly", true);
    $('#ex_for').prop("readonly", true);
    $('#mode').prop("readonly", true);
    $('#note').prop("readonly", true);
    $('#mt').prop("readonly", true);
    $('#less_advance').prop("readonly", true);
    $('#less_tds').prop("readonly", true);
    $('#balance').prop("readonly", true);
    $('#diesel').prop("readonly", true);
    $('#freight').prop("readonly", true);
    $('#DC_date').prop("readonly", true);





    $('#builty_no').addClass("se");
    $('#truck_details').addClass("se");
    $('#truck_owner').addClass("se");
    $('#consignor').addClass("se");
    $('#station_from').addClass("se");
    $('#station_to').addClass("se");
    $('#taluka').addClass("se");
    $('#district').addClass("se");
    $('#consignee').addClass("se");
    $('#onaccount').addClass("se");
    $('#article').addClass("se");
    $('#bags').addClass("se");
    $('#rate').addClass("se");
    $('#delivery_no').addClass("se");
    $('#ex_for').addClass("se");
    $('#mode').addClass("se");
    $('#note').addClass("se");
    $('#mt').addClass("se");
    $('#less_advance').addClass("se");
    $('#less_tds').addClass("se");
    $('#balance').addClass("se");
    $('#freight').addClass("se");
    $('#diesel').addClass("se");
    $('#DC_date').addClass("se");

    
</script>

{% endblock js %}
