{% extends 'base/base.html' %}



{% block title %}Submit{% endblock title %}

{% block head %}


<!-- Select2 CSS --> 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 

<!-- jQuery --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<!-- Select2 JS --> 
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

<style>


    table {
        border-collapse: separate;
        border-spacing: 10px;
        table-layout: fixed;
        width: 100%;
    }

    .text{
        margin : 0px 14px;
    }

    .form-control{
        height : calc(1.9rem + 2px) !important;
    }

    .select2 {
        width:100% !important;
    }

    .select2-selection{
        height: calc(1.9rem + 2px) !important;
    }

    .select2-selection__rendered{
        line-height : 2.3 !important;
    }






    fieldset {
        display: block;
        margin: 20px auto;
        padding: 15px;
        border: 0;
        border: 1px solid black;
        margin-top : 0px;
        margin-bottom : 7px;
      }
      legend {
        display: table;
        min-width: 0px;
        max-width: 70%;
        position: relative;
        margin: auto;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 14px;
        padding-top: 0px !important;
        text-align: center;
      }

      .card{
        font-size: 13px !important;
        font-weight: bold !important;
      }

      .card-body{
        padding-top: 3px !important;

      }

      hr{
        margin : 0px;
      }

      .content{
        padding-top: 8px !important;
      }

</style>


{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}

<div>

    {{ form_error }}
    

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding-top:0px;">
           
            <div class="card-body" style="padding-top:0px;">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}


                            <div class="col-12">
                                
                                <table style="width:100%;">
                            
                                    <tr>
                                        <td>
                                            
                                            <label for="name" class="control-label mb-1">Consignor</label>
                                            {{ form.consignor }}
                                            
                                        </td>
                                        
                                        <td>
                                            
                                            <label for="name" class="control-label mb-1 la">Article</label>
                                            {{ form.article }}
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            
                                                <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty No</label>
                                                {{ form.builty_no }}
                                            

                                        </td>
                                        <td>
                                            
                                                <label for="name" class="control-label mb-1">Date</label>
                                                {{ form.DC_date }}
                                            
                                        </td>

                                    </tr>
                        
                                
                                    <tr>

                                        <td>
                                            
                                                <label for="name" class="control-label mb-1" style="margin-left : 0px;">Truck No</label>
                                                {{ form.truck_details }}
                                            
                                        </td>

                                        <td>
                                            
                                                <label for="name" class="control-label mb-1">Truck Owner</label>
                                                {{ form.truck_owner }}
                                            
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            
                                                <label for="name" class="control-label mb-1" style="margin-left : 0px;">From Station</label>
                                                {{ form.location_from }}
                                            
                                        </td>
                                        <td>
                                            
                                                <label for="name" class="control-label mb-1">To Desti</label>
                                                {{ form.location_to }}
                                            
                                        </td>


                                    </tr>

                                    <tr>

                                        <td>
                                            
                                            <label for="name" class="control-label mb-1" style="margin-left : 0px;">Taluka</label>
                                            {{ form.district }}
                                        
                                        </td>
                                        <td>
                                            
                                                <label for="name" class="control-label mb-1">District</label>
                                                {{ form.taluka }}
                                            
                                        </td>


                                    </tr>
                                    
                                    

                                    <tr>
                                        <td>
                                            
                                                <label for="name" class="control-label mb-1 la">Consignee</label>
                                                {{ form.consignee }}
                                            
                                        </td>

                                        <td>
                                            
                                            <label for="name" class="control-label mb-1 la">Onaccount</label>
                                            {{ form.onaccount }}
                                        
                                    </td>
                                    </tr>

                                  
                                    
                                </table>
                                <hr>

                                <div class="col-12" style="display : flex;padding-top:10px;">

                                    <div class="col-6" style="border-right: 1px solid black;
                                    padding: 10px 16px;">

                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 4px;">

                                            <label for="name" class="control-label mb-1 la">Qty (bags)</label>
                                            {{ form.bags }}
                                                
                                            <label for="name" class="control-label mb-1 la"> Rate </label>
                                            {{ form.rate }}

                                        </div>
                                      
                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 4px;">

                                             
                                            <label for="name" class="control-label mb-1 la"> Delivery No </label>
                                            {{ form.delivery_no }}
                                        
                                            <label for="name" class="control-label mb-1 la"> Note </label>
                                            {{ form.note }}
                                        
                                        </div>
                                        
                                        <div style="display: flex;
                                        column-gap: 7px;margin-bottom: 0px;margin-top: 14px;">

                                             
                                            <label for="name" class="control-label mb-1 la"> EX/For </label>
                                            {{ form.ex_for }}
                                        
                                        
                                             
                                            <label for="name" class="control-label mb-1 la"> Mode </label>
                                            {{ form.mode }}
                                        
                                        </div>
                                      
                                    </div>


                                    <div class="col-6">

                                        <div>

                                            <fieldset><legend>Truck Driver Advance</legend>


                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
            
                                                    <label for="name" class="control-label mb-1 la"> MT </label>
                                                    {{ form.mt }}

                                                    <label for="name" class="control-label mb-1 la"> Freight </label>
                                                    {{ form.freight }}
                                                
                                                </div>

                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
                
                                                    <label for="name" class="control-label mb-1 la"> Less Advance </label>
                                                    {{ form.less_advance }}

                                                    <label for="name" class="control-label mb-1 la"> Less TDS </label>
                                                    {{ form.less_tds }}
                                                </div>

                                                <div style="display: flex;
                                                column-gap: 7px;margin-bottom: 4px;">
        
                                                    <label for="name" class="control-label mb-1 la"> Balance </label>
                                                    {{ form.balance }}
                                                                
                                                    <label for="name" class="control-label mb-1 la"> Diesel </label>
                                                    {{ form.diesel }}
                                                </div>
                                        </fieldset>


                                        </div>
                                    </div>

                                </div>
                            </div>
<br>

{% comment %}                             

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Bags</label>
                                {{ form.bags }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Delivery No</label>
                                {{ form.delivery_no }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">ex/for</label>
                                {{ form.ex_for }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Mode</label>
                                {{ form.mode }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Note</label>
                                {{ form.note }}
                            </div>
 {% endcomment %}

                            

                           
 <div style="display: flex;
 gap: 75px;justify-content: center;">
     <a href="{% url 'request_edit' 1 %}"><button id="payment-button" style="height: 44px;
         width: 200px;
         background: #05386b;
         border: none;
         color: white;
         font-weight: bold;
         font-size: 14px;" type="button">
         <span id="payment-button-amount">Request Edit</span>
     </button> </a>
     <button id="payment-button" type="submit"  style="height: 44px;
     width: 300px;
     background: #05386b;
     border: none;
     color: white;
     font-weight: bold;
     font-size: 14px;">
         <span id="payment-button-amount">Create Builty</span>
     </button>
 </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


<script>
    
   

    $("#company").change(function () {
        const comapnyID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '',
            data: {
                'company_id': comapnyID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.name}</option>` 
                });
                $("#company_goods").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    $("#company_goods").change(function () {
        const comapny_goods_ID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        var e = document.getElementById("company");
        var comapnyID = e.value;
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '',
            data: {
                'company_id': comapnyID, 
                'company_goods': comapny_goods_ID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.goods_company_name}</option>` 
                });
                $("#goods_company").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });


    $("#company").change(function () {
        const comapnyID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '',
            data: {
                'company_id': comapnyID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.name}</option>` 
                });
                $("#agent").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    

    
    $(document).ready(function(){
  
        // Initialize select2
        $("#truck_owner").select2();
        $("#consignor").select2();
        $("#location_from").select2();
        $("#location_to").select2();
        $("#onaccount").select2();
        $("#article").select2();
        
      
        
      });


      if("{{ form.instance.editable }}" == "False"){


            
            $("#company").attr("disabled", true) ;
            $("#builty_no").attr("disabled", true) ;
            $("#truck_details").attr("disabled", true) ;
            $("#truck_owner").attr("disabled", true) ;
            $("#consignor").attr("disabled", true) ;
            $("#location_from").attr("disabled", true) ;
            $("#location_to").attr("disabled", true) ;
            $("#onaccount").attr("disabled", true) ;
            $("#taluka").attr("disabled", true) ;
            $("#district").attr("disabled", true) ;
            $("#consignee").attr("disabled", true) ;
            $("#bags").attr("disabled", true) ;
            $("#rate").attr("disabled", true) ;
            $("#delievry_no").attr("disabled", true) ;
            $("#note").attr("disabled", true) ;
            $("#rate").attr("disabled", true) ;
            $("#mt").attr("disabled", true);
            $("#freight").attr("disabled", true);
            $("#rate").attr("disabled", true);
            $("#less_advance").attr("disabled", true);
            $("#less_tds").attr("disabled", true);
            $("#mode").attr("disabled", true);
            $("#ex_for").attr("disabled", true);
            $("#delivery_no").attr("disabled", true);
            $("#diesel").attr("disabled", true);
            $("#balance").attr("disabled", true);
            $("#article").attr("disabled", true);
            $("#DC_date").attr("disabled", true);

            }
    


    
</script>

{% endblock content %}